<div class="input-group">
    <input type="text" name="query" class="form-control" placeholder="Search for @ViewData["Search"]..." style="background-color: transparent; border: 2px solid lightblue; color: cyan;">
    <button type="submit" class="btn btn-primary transparent-background search-button" style="background-color: transparent; border: 2px solid lightblue;">Search</button>
</div>
