@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.Reviews;
@model IEnumerable<ReviewsViewModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

<div class="text-center">
    <h1 style="color: white;">Nintendo game Reviews</h1>
</div>

<div class="d-flex justify-content-center mb-4">
    <img src="https://i.insider.com/64108b1c9aa2e6001956d32a?width=1136&format=jpeg"
         alt="Xbox reviews" style="width: 50%; height: 50%;" />
</div>

<div class="text-center row">
    <partial name="_ReviewsPartial" model="Model" />
</div>

<!-- paging control for navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllNintendo", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

@section Scripts{
    <partial name="_PaginationDesignCriptPartial" />
}
