@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.Reviews;
@model IEnumerable<ReviewsViewModel>


<div class="text-center row">
    @foreach (var review in Model)
    {
        <partial name="_ReviewsPartial" model="review" />
    }
</div>