@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.Reviews;
@model IEnumerable<ReviewsViewModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Search"] = "review";
}

<div class="text-center">
    <h1 style="color: white;">Playstation game Reviews</h1>
</div>

<div class="d-flex justify-content-center mb-4">
    <img src="https://cdn.mos.cms.futurecdn.net/MMwRCjVEaoJPP4dBBugWFY-1200-80.jpg"
         alt="Xbox reviews" style="width: 50%; height: 50%;" />
</div>

<form method="get" action="@Url.Action("AllPlaystation", "Reviews")" class="mb-4">
    <partial name="_SearchPartial" />
</form>

<div class="text-center row">
    <partial name="_ReviewsPartial" model="Model" />
</div>

<!-- paging control for navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllPlaystation", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

@section Scripts{
    <partial name="_PaginationDesignCriptPartial" />
}
