<div class="card col-4" style="width: 20rem; ">
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Title</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Content</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Data</h5>
    </div>
</div>
