@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.News;
@model IEnumerable<NewsViewModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

<div class="text-center">
    <h1 style="color: white;">Mobile News</h1>
</div>

<div class="d-flex justify-content-center">
    <img src="https://www.digitaltrends.com/wp-content/uploads/2016/01/News-Apps-Header.jpg?p=1"
         alt="Mobile News" style="width: 50%; height: 50%;" />
</div>

<div class="text-center row">
    <partial name="_NewsPartial" model="Model" />
</div>


<!-- paging control for navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllMobile", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

@section Scripts{
    <partial name="_PaginationDesignCriptPartial" />
}
