@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.News;
@model IEnumerable<NewsViewModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Search"] = "news";
}

<div class="text-center">
    <h1 style="color: white;">Nintendo News</h1>
</div>

<div class="d-flex justify-content-center">
    <img src="https://nintendonews.com/static/images/banner.png"
         alt="Mobile News" style="width: 50%; height: 50%;" />
</div>

<<form method="get" action="@Url.Action("AllNintendo", "News")" class="mb-4">
    <partial name="_SearchPartial" />
</form>

<div class="text-center row">
    <partial name="_NewsPartial" model="Model" />
</div>

<!-- paging control for navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllNintendo", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

@section Scripts{
    <partial name="_PaginationDesignCriptPartial" />
}