@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.News;
@model IEnumerable<NewsViewModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

<div class="text-center">
    <h1 style="color: white;">Xbox News</h1>
</div>

<div class="d-flex justify-content-center">
    <img src="https://play-lh.googleusercontent.com/ewjDKu6FMMMgLSsL5p1lBaC5d5wy1HyR25POO_p9jcAT1A3jOmQ5Jw1xNGO_X0tsOQ"
         alt="Mobile News" style="width: 50%; height: 50%;" />
</div>

<div class="text-center row">
    <partial name="_NewsPartial" model="Model" />
</div>


<!-- paging control for navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllPc", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

@section Scripts{
    <partial name="_PaginationDesignCriptPartial" />
}

