@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.News;
@model IEnumerable<NewsViewModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

<div class="text-center">
    <h1 style="color: white;">PC News</h1>
</div>

<div class="d-flex justify-content-center">
    <img src="https://cdn4.vectorstock.com/i/1000x1000/20/53/computer-with-news-article-on-screen-vector-3882053.jpg"
         alt="Mobile News" style="width: 50%; height: 50%;" />
</div>

<<form method="get" action="@Url.Action("AllPc", "News")" class="mb-4">
    <partial name="_SearchPartial" />
</form>

<div class="text-center row">
    <partial name="_NewsPartial" model="Model" />
</div>


<!-- paging control for navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllPc", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

@section Scripts{
    <partial name="_PaginationDesignCriptPartial" />
}
