@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.News;
@model IEnumerable<NewsViewModel>


<div class="text-center row">
    @foreach (var review in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@review.Title</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title mt-1">@review.Content</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title mt-1">@review.Data</h5>
            </div>
        </div>
    }
</div>
