@using News_Reviews.Models.Models;
@model ReadNewsModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>@Model.Title</h1>
            <p>@Model.Content</p>
        </div>
    </div>
</div
