@using News_Reviews.Models.Models.Account;
@model EditProfileFormModel

@{
    ViewBag.Title = "Change your password";
}

<style>
    body {
        margin: 0;
        padding: 0;
    }

    .register-container {
        background-image: url('https://static.vecteezy.com/system/resources/previews/013/402/107/non_2x/moonlight-night-in-forest-dark-forest-sky-with-river-and-moon-landscape-background-illustration-free-vector.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .register-form {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .field-label {
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .register-form {
        margin: 0 auto;
        max-width: 400px;
    }

    .register-container {
        justify-content: center;
    }
</style>

<h1>@ViewBag.Title</h1>

<div class="register-container">
    <div class="register-form">
        <div class="row">
            <div class="col-md-12">
                <form id="passwordChangeForm" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="text-center mb-3">
                        <label asp-for="OldPassword" class="field-label">Old Password</label>
                        <input asp-for="OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="text-center mb-3">
                        <label asp-for="NewPassword" class="field-label">New Password</label>
                        <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="text-center mb-3">
                        <label asp-for="ConfirmPassword" class="field-label">Confirm New Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="passwordChangeSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
