﻿@{
    ViewBag.Title = "Privacy Policy";
}

<style>
    h2, h3{
        color: #9be52a;
        padding: 5px;
    }

    p{
        color: cyan;
        font-family: "Calibri", sans-serif;
        font-size: 18px;
    }

    li{
        color: white;
        font-family: "Calibri", sans-serif;
        font-size: 18px;
    }
</style>

<h2>@ViewBag.Title</h2>

<p>
    At News&Reviews&#8482, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose,
    and safeguard your information when you visit our website, "News&Reviews," including any forum and quiz features. By using our website, you consent to the practices described in this Privacy Policy.
</p>

<h3>What We Collect</h3>

<p>
    When you access or use our website, we may collect both personally identifiable information and non-personally identifiable information (non-PII). 
    The types of information we may collect include:
</p>
<ul>
    <li>Personal Information: This includes your name.</li>
    <li>Non-Personal Information: We may collect technical information such as your IP address, browser type, operating system, and referring URL</li>
    <li>Other information relevant to customer surveys and/or offers</li>
</ul>

<h3>What We Do with the Information We Gather</h3>

<p>
    We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
</p>
<ul>
    <li>Providing you with access to our news, reviews, forums, and quizzes.</li>
    <li>Personalizing your experience on our website.</li>
    <li>Improving our website's functionality and user experience.</li>
    <li>Responding to your inquiries and providing customer support.</li>
</ul>

<h3>Disclosure of Your Information:</h3>

<p>
    We do not sell, trade, or rent your personal information to third parties. However, we may share your information in the following circumstances:
</p>
<ul>
    <li>With your consent: We may share your information with third parties if you give us explicit permission to do so.</li>
    <li>Service providers: We may engage third-party service providers to assist us in various aspects of our operations, such as hosting, analytics, and customer support. These service providers have access to your information only as necessary to perform their functions.</li>
    <li>Legal requirements: We may disclose your information to comply with applicable laws, regulations, legal processes, or government requests.</li>
</ul>

<h3>Security</h3>

<p>
    We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.
</p>

<h3>Your Choices:</h3>

<p>
    You have the right to:
</p>
<ul>
    <li>Opt-out of receiving promotional communications.</li>
    <li>Delete your account and personal information.</li>
</ul>

<h3>Children's Privacy:</h3>
<p>
    Our website is not intended for children under the age of 13. We do not knowingly collect or solicit personal information from anyone under 18 years of age.
</p>

<h3>Controlling Your Personal Information</h3>
<p>
    We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational,
    legal, or regulatory reasons. We will notify you of any material changes by posting the updated policy on our website.
</p>

<h3>Contact Us:</h3>
<p>
    If you have any questions, concerns, or requests related to this Privacy Policy or your personal information, please contact us at <a href="mailto:privacy@news-reviews.info?subject=Privacy%20Policy"></a>.
</p>
<p>By using News&Reviews, you agree to the terms outlined in this Privacy Policy.</p>
