@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 text-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> reviews and news.
        <br/>You can <b>add</b> and <b>remove</b> moderators
    </p>
</div>



